.hero{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('https://img.freepik.com/free-photo/3d-rendering-website-hosting-concept_23-2149484783.jpg?size=626&ext=jpg&ga=GA1.2.2031644658.1674562410&semt=ais_user');
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 30px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}